body{
	background: #f1f1f1;
	color: #666;
	font-family: 'Dosis', serif;
}
.navbar{
	background: black;
	 z-index: 9999999;

}
.nav-item{
	padding-left:15px;
	padding-right: 10px;
}
.nav-item .nav-link{
	font-family: 'Dosis', serif;
	font-size: 14px;
	font-weight: 600;
	color: #555 !important;
  text-transform: uppercase;
  letter-spacing: .5px;
  text-decoration: none;

}
.dropdown-menu{
	z-index: 999999;
}
.dropdown-menu .dropdown-item{
	font-family: 'Dosis', serif;
	font-size: 14px;
	font-weight: 600;
	color: #555 !important;
    text-transform: uppercase;
    letter-spacing: .5px;
    text-decoration: none;
    padding: 10px 20px;

}

#content{
	width: 100%;
	height: 600px;
	overflow: hidden;
	margin-top: 40px;
}
#section-intro{

    /*background-color: #000;*/
    background-size: cover;
    background-position: center center;
}
#particles-js {
background-color: #000;
  width: 100%;
height: 600px;
position: relative;


}
canvas{
position: absolute;
top: -20px;
}
.for-slick{

	position: absolute;
	top: 100px;
	text-align: center;
	z-index: 99999;

}
.slick-list{
	padding: 20px 0!important;
}
.slick-slide{
	padding: 30px 0;
}
.intro-1 h1,.intro-2 h1{
text-transform: uppercase;
letter-spacing: 1.5px;
font-size: 50px;
}
.intro-1 p,.intro-2 p{
	font-size: 25px;
}
.more{
	margin-top: 10px;

}
.more a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}
.arrow{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: inline-block;
	margin-left: 20px;
	border: 1px solid #fff;
	animation: animate 3s linear infinite;
}

@keyframes animate{
	0%{
		box-shadow: 0 0 0 0 rgba(74,109,255,.7),0 0 0 0 rgba(74,109,255,.7);
	}
	40%{
		box-shadow: 0 0 0 10px rgba(74,109,255,0),0 0 0 0 rgba(74,109,255,.7);
	}
	80%{
		box-shadow: 0 0 0 10px rgba(74,109,255,0),0 0 0 10px rgba(74,109,255,0);
	}
	100%{
		box-shadow: 0 0 0 0 rgba(74,109,255,0),0 0 0 10px rgba(74,109,255,0);
	}
}
/*main-intro start*/
#main-intro{
	padding: 55px;
	font-family: serif;
	text-align: center;
	background: #f1f1f1;

}
#main-intro h2{
	letter-spacing: 1px;
	color:#312e2e;
	font-size: 40px;
	text-transform: uppercase;
}
#main-intro .caption-sep{
	height: 2px;
	background-color: #312e2e;
    width: 65px;
    margin: 0 auto;
		margin-top: 15px;
}
#main-intro p{
	letter-spacing: 1.5px;
	line-height: 25px;
	margin:25px 0;
}
#main-intro a{
	border-radius:15px;
	padding: 5px 10px;
	outline: none;
	box-shadow: none;
	border: 1px solid #666;
	background: transparent;
	letter-spacing: 1.1px;
	text-transform: uppercase;
	text-decoration: none;
	color: #666;
	transition: 500ms all;

}

#main-intro a:hover{
	background: rgb(57, 82, 165);
	color: #fff;
}
#main-intro .btn-1{
	margin-right: 15px;
}


/*for about*/

.about{
	padding: 30px 0;
}
.about img{
	transform: translateX(75px);
}
.aboutinfo{
	background: rgba(30,29,29,.9);
	    position: absolute;
	    top: 15%;
	    left: 0;
	    z-index: 80;
	    padding: 30px;
			transform:translateX(-95px);

}
.aboutinfo .heading{
		font-size: 32px;
    color: #939191;
    display: block;
}
.aboutinfo .subtitle{
		font-size: 24px;
    color: #fff;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}
.aboutinfo .description{
		font-size: 18px;
    color: #918f8f;
    line-height: 30px;
}
.aboutinfo .morebtn{
		font-size: 20px;
    font-weight: 700;
    color: #939191;
    text-transform: uppercase;
}
.aboutinfo .morebtn .more{
	font-size: 20px;
	margin-left: 5px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
}
.aboutinfo .morebtn:hover{

	color: #fff;
}
.aboutinfo .morebtn:hover .more{
	transform: translateX(10px);
	color: #fff;
}


/* for services */
.services{
	background: rgba(0,0,0,.85);
	padding: 15px 0;
}
.section-header{
	margin: 15px 0 35px;

}
.single-service{
	margin-bottom: 30px;
	overflow: hidden;
	position: relative;
	transition: all 0.3s ease;
	box-shadow: 5px 5px 15px #000;
}
.single-service img{
	width: 100%;
	height: auto;
}
.overlay-text .title{
	font-size: 25px;
	font-weight: 500;
	color: rgb(57, 82, 165);
	margin: 0 0 15px 0;
}
.overlay-text .post{
display: block;
font-size: 18px;
font-weight: 500;
color: #fff;
}
.single-service .overlay-text{
	width: 100%;
	height: 100%;
	font-size: 16px;
	color: #fff;
	background: rgba(0,0,0,0.6);
	text-align: center;
	padding: 20% 15px 15px 15px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all 0.6s ease;
}
.single-service .overlay-text:before{
	border-left: 1px solid rgba(255,255,255,0.5);
	border-right: 1px solid rgba(255,255,255,0.5);
	left: 30px;
	right: 30px;
}
.single-service .overlay-text:after{
	border-top: 1px solid rgba(255,255,255,0.5);
	border-bottom: 1px solid rgba(255,255,255,0.5);
	top: 30px;
	bottom: 30px;
}
.single-service .overlay-text:before, .single-service .overlay-text:after{
	content: '';
	position: absolute;
	top: 20px;
	left: 20px;
	bottom: 20px;
	right: 20px;
	opacity: 0;
	z-index: 1;
	transform: scale(1.5);
	transition: all 0.6s ease;
}
.single-service:hover{
	transform: translateY(-5px);
}
.single-service:hover .overlay-text{
	opacity: 1;
}
.single-service:hover .overlay-text:after,
.single-service:hover .overlay-text:before{
	opacity: 1;
	transform: scale(1);
}

/* for map */
.map{
	padding:15px;
}
.map-heading h2{
	position: relative;
	top: 20px;

}
.map iframe{
	position: relative;
	top: 80px;
}


/* for footer */

footer{
	padding: 90px 0 50px;
	background: #0f0f0f;
clip-path:polygon(50% 0,100% 19%,100% 100%,0 100%,0 17%)

}

.content{
	margin-left:10px;

}
.content h1{
	color: rgb(57, 82, 165);
	font-size: 25px;
	font-weight: 600;
}
.contact p{
	color: #666;
	padding:5px 0;
	margin: 0;
}

.footer-menu{
	padding: 0;
	margin-left: 4px;
}
.footer-menu li{
	list-style: none;
	padding-top: 3px;
}
.footer-menu li a{
	text-decoration: none;
	color: #666;
	font-size: 17px;
	transition: 500ms all;

}
.footer-menu li a:hover{
	color: rgb(57, 82, 165);
}
.copyright{
	background-color: #000;
	color: #fff;
	padding:10px 0;
	text-align: center;

}
.copyright p{
font-size: 15px;
margin:0;
}




/* for to top*/

.to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #000;
  color: #fff;
  padding: 12px 14px;
  border-radius: 50%;
  z-index: 111; }
  .to-top:hover {
    background-color: #d7d7d7;
    color: #000; }
